html, body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'VT323', monospace;
}

.pokedex__search-bar {
	width: 100%;
	height: 75px;
	background-color: rgb(200, 10, 10);
	border: 1px solid black;
}

.pokedex__search {
	width: 95%;
	height: 25px;
	font-size: 24px;
	font-family: 'VT323', monospace;
	margin: 0 auto;
	display: block;
	background-color: rgb(230, 230, 230);
	padding: 0;
	border: 5px solid rgb(160, 10, 10);
	outline: none;
	padding: 2px 5px;
}

.pokedex__display {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
	background-color: rgb(160, 10, 10);
}

.pokedex__pokemon {
	width: 75%;
	padding: 25px 0 12.5% 0;
	height: 50%;
	margin: 125px auto;
	border: 5px solid rgb(200, 10, 10);
	background-color: white;
}

.pokedex__pokemon_name {
	text-align: center;
	color: black;
	padding: 0;
	margin: 0;
	font-size: 48px;
	text-transform: capitalize;
}
.pokedex__pokemon_sprite {
	margin: 0 auto;
	display: block;
}